body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  form {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #connected {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  #results {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  
  #results p {
    margin: 0;
    font-size: 18px;
  }
  
  .correct {
    color: #008000;
    font-weight: bold;
  }
  
  .incorrect {
    color: #FF0000;
    font-weight: bold;
  }
  
  