body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    display: inline-block;
    margin: 20px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="text"] {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[id="effacer"]{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e72d2d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[id="ajouter"]{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5943d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
   