<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Liste des sujets générés</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          sujets: {{ sujets | tojson() }}
        }
      })
    </script>
  </head>
  <body>
    <div id="app">
      <h1>Liste des sujets générés</h1>
      <ul>
        {% for sujet in sujets %}
        <li>
          <h2>Sujet {{ loop.index }}</h2>
          <ul>
            {% for question in sujet["JAVA"] %}
            <li>{{ question[1] }}</li>
            <li>{{ question[2] }}</li>
            <ul>
              <div class="card-footer">
                <p><input type="radio" name="{{ question[0] }}" value="1"> {{ question[3] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="2"> {{ question[4] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="3"> {{ question[5] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="4"> {{ question[6] }}</p>
            </div>

            </ul>
            {% endfor %}
            {% for question in sujet["id_compilation"] %}
            <li>{{ question[1] }}</li>
            <li>{{ question[2] }}</li>
            <ul>
              <div class="card-footer">
                <p><input type="radio" name="{{ question[0] }}" value="1"> {{ question[3] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="2"> {{ question[4] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="3"> {{ question[5] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="4"> {{ question[6] }}</p>
            </div>

            </ul>
            {% endfor %}
            {% for question in sujet["PHP"] %}
            <li>{{ question[1] }}</li>
            <li>{{ question[2] }}</li>
            <ul>
              <div class="card-footer">
                <p><input type="radio" name="{{ question[0] }}" value="1"> {{ question[3] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="2"> {{ question[4] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="3"> {{ question[5] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="4"> {{ question[6] }}</p>
            </div>

            </ul>
            {% endfor %}
            {% for question in sujet["python"] %}
            <li>{{ question[1] }}</li>
            <li>{{ question[2] }}</li>
            <ul>        
              <div class="card-footer">
                <p><input type="radio" name="{{ question[0] }}" value="1"> {{ question[3] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="2"> {{ question[4] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="3"> {{ question[5] }}</p>
                <p><input type="radio" name="{{ question[0] }}" value="4"> {{ question[6] }}</p>
            </div>                
            </ul>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>